#box {
    display: inline-block;
    background-color: #283618;
    box-shadow: 10px 10px 0 black;
    text-align: center;
    padding: 42px 44px;
    margin-top: 116px;
    margin-left: 91px;
}

#box h1 {
    margin-bottom: 28px;
}
